
@import '../../index.scss';
@import '~react-leaflet-markercluster/dist/styles.min.css'; // sass

#map {
    height: 100vh;
    float: right;
    width: 100%;
    min-height: 340px;
    z-index: 5;
    position: absolute;
}

// @media (min-width: $mapBreakpoint) {
//     #map {
//         visibility: visible !important;
//     }
// }

// @media (max-width: $mapBreakpoint) {
//     #map {
//         width: 100%;
//         visibility: hidden;
//     }
// }