
@import '../../index.scss';
@import '~react-leaflet-markercluster/dist/styles.min.css'; // sass

#map {
    height: 100vh;
    float: right;
    width: 100%;
    min-height: 340px;
    z-index: 5;
    position: absolute;
}

// @media (min-width: $mapBreakpoint) {
//     #map {
//         visibility: visible !important;
//     }
// }

// @media (max-width: $mapBreakpoint) {
//     #map {
//         width: 100%;
//         visibility: hidden;
//     }
// }

.leaflet-popup-content {
    text-align: center;
    min-width: 150px;
    p {
        font-size: 16px;
        margin: 7px 0 !important;
    }
    a {
        
    }
}
.leaflet-container a {
    font-size: 14px !important;
    color: #06ACF8 !important;
    &:hover {
        text-decoration: none !important;
        color: #F30B3F !important;
    }
}