#smallNodeList {
    background-color: #fff;
    padding: 30px;
    height: auto;
    overflow-y: scroll;
    scrollbar-color: #245DA8 rgb(225, 238, 255);
    scrollbar-width: thin;
    /* width */
    &::-webkit-scrollbar {
        width: 7px;
        height: 3px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
        background: rgb(225, 238, 255); 
    }
    
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #245DA8; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(17, 77, 155); 
    }

}