@import "../../index.scss";

#headerMenu {
    a.nav-link {
        font-size: 24px;
        color: $black;
        line-height: 40px;
    }
    svg {
        margin-left: 15px;
        height: 40px;
        width: 35px;
        float: right;
    }
}
