@import "../../index.scss";

#logo {
    margin: 15px 0;
    svg {
        height: 70px;
        width: 70px;
        float: left;
    }
    div.appName {
        margin-left: 15px;
        font-weight: bold;
        font-size: 26px;
        line-height: 70px;
        color: $primary;
        text-transform: uppercase;
    }
}