@import "../../index.scss";

#pageContent {
    padding: 30px;
    display: inline-block;
    width: calc(100% - 120px);
    min-height: 340px;
    height: calc(100vh - 129px);
    overflow: overlay;
}

@media (max-width: $mapBreakpoint) {
    #pageContent {
        width: calc(100% - 120px);
    }
}