#userPage {
  padding: 30px;
  text-align: center;
  img {
    margin-bottom: 20px;
    width: 80px !important;
    border-radius: 50%;
    height: auto;
  }
  h1 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 5px;
  }
}

