@import "../../index.scss";


.commentlist1 {
    font-size: 12px;
    font-weight: bold;
    background: #ffffff;
    padding: 8px;
    border: 5px;
    border-style:solid;
    border-color:#494949;
    border-radius: 15px;
    display: inline-block;
}
