@import '../../index.scss';

#pageWrapper {
    position: absolute;
    width: 50%;
    height: auto;
    overflow: scroll;
    max-height: calc(100% - 126px);
}

@media (max-width: $mapBreakpoint) {
    #pageWrapper {
        width: 100%;
    }
}