#pageContent {
  // text-align: center;
  svg {
    margin-bottom: 20px;
    width: 20%;
    height: auto;
  }
}
.errorPageContent {
    text-align: center;
    #pageContent svg {
        margin-bottom: 20px;
        width: 20%;
        height: auto;
    }
}
